## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [43]:
a1 = 27
print(a1)

27

2) Imprimir el tipo de dato de la constante 8.5

In [44]:
a2 = type(8.5)
print(a2)

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [45]:
a3 = type(a1)
print(a3)

<class 'int'>

4) Crear una variable que contenga tu nombre

In [46]:
Nombre = 'Alan Sánchez Díaz'
print(Nombre)

Alan Sánchez Díaz

5) Crear una variable que contenga un número complejo

In [47]:
num_complex = 10 + 2j
print(num_complex)

(10+2j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [48]:
a6 = type(num_complex)
print(a6)

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
Pi = 3.1416
print(Pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [50]:
VarStrVer = 'True'
Ver = True
print(VarStrVer)
print(Ver)
print('Son distintas cosas, ya que uno es un valor String y otro de tipo Boolean')

True
True
Son distintas cosas, ya que uno es un valor String y otro de tipo Boolean

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [51]:
print('La variable 1 es de tipo ', type(VarStrVer), ' y la variable 2 es de tipo ', type(Ver))

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [52]:
a10 = 6 + 3.1416
print(a10)

9.1416

11) Realizar una operación de suma de números complejos

In [53]:
a11 = 10 + 2j
b11 = 5 + 1j
print(a11 + b11)

(15+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [54]:
a12 = 3.1416 + 15j
print(a12)

(3.1416+15j)

13) Realizar una operación de multiplicación

In [55]:
a13 = 2 * 4
print(a13)

8

14) Mostrar el resultado de elevar 2 a la octava potencia

In [56]:
a14 = (2**8)
print(a14)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [57]:
a15 = 27 / 4
print(a15)

6.75

16) De la división anterior solamente mostrar la parte entera

In [58]:
a16 = 27 // 4
print(a16)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [59]:
a17 = 27 % 4
print(a17)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [60]:
a18 = (4 * 6) + 3
print(a18)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [61]:
vstring1 = 'Star '
vstring2 = 'Craft 2'
print(vstring1 + vstring2)

Star Craft 2

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [62]:
a20 = 2 == '2'
print(a20)
print('Son distintos tipos de valores')

False
Son distintos tipos de valores

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [63]:
a21= 2 == int('2')
print(a21)
print('El tipo de valores son idénticos')

True
El tipo de valores son idénticos

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [64]:
print('Porque el caracter "," no es correcto para los decimales en terminos matemáticos, tampoco valido para el lenguaje de programación')
print('Lo correcto es lo siguiente:')
print("a = float('3.8')")
a22 = (float('3.8'))
print(a22)

Porque el caracter "," no es correcto para los decimales en terminos matemáticos, tampoco valido para el lenguaje de programación
Lo correcto es lo siguiente:
a = float('3.8')
3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [65]:
a23 = 3
a23 -= 1
print(a23)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [66]:
a24 = 1 << 2
print('Nos muestra ese resultado ya que realiza una operacion llamada Bitshift, en este caso a la izquierda; el numero 1 es representado por 1 en binario') 
print('al realizar la operacion de bitshift a la izquierda, la operacion nos indica que debe recorrerse 2 valores a la izquierda dando lugar al 100') 
print('el cual al ser convertido de binario a decimal da como resultado el numero 4.')
print('Es un sistema de numeracion compuesto por 2 digitos el 1 y el 0; el cual es usado comunmente en el área informática.')
'1 << 2 = 4'

Nos muestra ese resultado ya que realiza una operacion llamada Bitshift, en este caso a la izquierda; el numero 1 es representado por 1 en binario
al realizar la operacion de bitshift a la izquierda, la operacion nos indica que debe recorrerse 2 valores a la izquierda dando lugar al 100
el cual al ser convertido de binario a decimal da como resultado el numero 4.
Es un sistema de numeracion compuesto por 2 digitos el 1 y el 0; el cual es usado comunmente en el área informática.

'1 << 2 = 4'

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [67]:
print('No esta permitida la operacion ya que no se puede sumar datos del tipo string e integer, mas si concatenar')
print('Si los operandos son del mismo tipo el resultado dependerá del tipo de caracter, si son integer será una suma, si son string será una concatenación')

No esta permitida la operacion ya que no se puede sumar datos del tipo string e integer, mas si concatenar
Si los operandos son del mismo tipo el resultado dependerá del tipo de caracter, si son integer será una suma, si son string será una concatenación

26) Realizar una operación válida entre valores de tipo entero y string

In [68]:
Var261 = 'ABCDE '
Var262 = 5
a26 = Var261 * Var262
print(a26)
print ('Es un ejemplo de operacion entre 2 tipos de valores')

ABCDE ABCDE ABCDE ABCDE ABCDE
Es un ejemplo de operacion entre 2 tipos de valores

Henry Challenge Ejercicio 1

In [83]:
def ListaDivisibles(numero, tope):
    lis=[]
    cont=numero
    if type(numero) != int:
        return 'El numero divisor debe de ser un entero'
    if numero<(0):
        return 'El numero divisor debe de ser positivo'
    if type(tope) != int:
        return 'El numero tope debe de ser un entero'
    if tope<(0):
        return 'El numero tope debe de ser positivo'
    while cont <= tope:
        if cont % numero == 0:
            lis.append(cont)
            lis.sort
        cont += 1
    return(lis)

In [82]:
ListaDivisibles(2,10)

[2, 4, 6, 8, 10]

Henry Challenge Ejercicio 2

In [154]:
def Exponente(numero, exponente):
    Resultado=numero**exponente
    return(Resultado)

In [155]:
Exponente(10,3)

1000

Henry Challenge Ejercicio 3

In [35]:
def ListaDeListas(lista):
    '''
    Esta función recibe una lista, que puede contener elementos que a su vez sean listas y
    devuelve esos elementos por separado en una lista única. 
    En caso de que el parámetro no sea de tipo lista, debe retornar nulo.
    Recibe un argumento:
        lista: La lista que puede contener otras listas y se convierte a una 
        lista de elementos únicos o no iterables.
    Ej:
        ListaDeListas([1,2,['a','b'],[10]]) debe retornar [1,2,'a','b',10]
        ListaDeListas(108) debe retornar el valor nulo.
        ListaDeListas([[1,2,[3]],[4]]) debe retornar [1,2,3,4]
    '''
    #Tu código aca:
    if type (lista) != list:
        return None
    lista.sort
    return lista

In [87]:
def ListaDeListas(lista):
    if type(lista) != list:
        return None
    listafin=[]
    while len(lista) > 0:
        listat=[]
        retval = lista.pop()
        print (type(retval)) 
        if type(retval) == list:
            while len(retval) > 0:
                listat=[]
                retval2=retval.pop()
                print (type(retval2))
                listat.append(retval2)
                listafin=listafin+listat
                print(len(lista))
        else:
            listat.append(retval)
            listafin=listafin+listat
            print (len(lista))

    return listafin

In [89]:
ListaDeListas([1,[2,3],[[4,5],6],[[7]]])

<class 'list'>
<class 'list'>
3
<class 'list'>
<class 'int'>
2
<class 'list'>
2
<class 'list'>
<class 'int'>
1
<class 'int'>
1
<class 'int'>
0

[[7], 6, [4, 5], 3, 2, 1]

prueba 2

In [112]:
def ListaDeListas(lista):
    if type(lista) != list:
        return None
    listafin=[]
    while len(lista) > 0:
        listat=[]
        retval = lista.pop()
        print (type(retval)) 
        if type(retval) == list:
            while len(retval) > 0:
                listat=[]
                retval2=retval.pop()
                print (type(retval2))
                listat.append(retval2)
                listafin=listafin+listat
                print(len(lista))
        else:
            listat.append(retval)
            listafin=listafin+listat
            print (len(lista))
    print(listafin)

    cantidad = 0
    lis2=[]
    lisfin=[]
    for elemento in listafin:
        if (type(elemento) == list):
            cantidad += len(elemento)
            
            lis2=lis2+elemento
            lisfin=lis2+elemento
        else:
            lis2.append(elemento)
            lisfin=lisfin+lis2
            cantidad += 1
    lis2.reverse()
    return lis2

In [113]:
ListaDeListas([[[1]],2,[[[[3]]]]])

<class 'list'>
<class 'list'>
2
<class 'int'>
1
<class 'list'>
<class 'list'>
0
[[[[3]]], 2, [1]]

[1, 2, [[3]]]

In [137]:
def ListaDeListas(lista):
    if type(lista) != list:
        return None
lista=([[[1,2]],2,4,[[[[3,6]]]]])
datos=iter(lista)
print(datos)
print(next(datos))
print(next(datos))
print(next(datos))
print(next(datos))

<list_iterator object at 0x000001AAE4A8BA30>
[[1, 2]]
2
4
[[[[3, 6]]]]

In [136]:
ListaDeListas([[[1,2]],2,4,[[[[3,6]]]]])